cosmeticShop/HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

cosmeticShop/src/main/java/Midas/cosmeticShop/service/CompanyDetailService.java
cosmeticShop/src/main/java/Midas/cosmeticShop/service/CommonUserDetailService.java
cosmeticShop/src/main/java/Midas/cosmeticShop/repository/Users/AdminRepository.java
cosmeticShop/src/main/java/Midas/cosmeticShop/dto/CustomUserDeatils


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
